/* Default to English */
.lang-fa {
    display: none;
}

body {
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

/* Theme styles */
body {
    background-color: #fff;
    color: #000;
}

.dark-mode body {
    background-color: #2c2c2c;
    color: #fff;
}

#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
}
